<article class="sidebar">
  <h1 class="sidebar-title">Sidebar</h1>
  <p class="sidebar-body">some stuff typed here for additional content</p>
  <div class="pixgrid clearfix">
    <src class="dropdown-item" href="<%= item.image %>"></a>
    </div>
  </article>
